@media screen and (max-width: 1050px) {
    .etiquette-list {
        max-width: 800px;
        text-align: left;
    }

    .main-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
